html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:700;
}

del {
text-decoration:line-through;
}

abbr[title],dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
border:solid 1px #ccc;
width:500px;
min-width:500px;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

input,select {
vertical-align:middle;
}

body {
font:13px/1.231 sans-serif;
font-size:small;
font-family:Helvetica, Arial, sans-serif;
background:#b6b6b6;

background: url("../images/backTop.png") repeat-x scroll left top #fff;


}

select,input,textarea,button {
font:99% sans-serif;
}

pre,code,kbd,samp {
font-family:monospace, sans-serif;
}

html {
overflow-y:scroll;
}

a:hover,a:active {
outline:none;
}

ul,ol {
margin-left:2em;
}

ol {
list-style-type:decimal;
}

nav ul,nav li {
list-style:none;
list-style-image:none;
margin:0;
}

small {
font-size:85%;
}

td {
vertical-align:top;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

pre {
white-space:pre-wrap;
word-wrap:break-word;
padding:15px;
}

textarea {
overflow:auto;
}

.ie6 legend,.ie7 legend {
margin-left:-7px;
}

input[type="checkbox"] {
vertical-align:bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align:baseline;
}

label,input[type="button"],input[type="submit"],input[type="image"],button {
	cursor:pointer;
}

button,input,select,textarea {
	margin:0;
}

input:invalid,textarea:invalid {
	border-radius:1px;
	-moz-box-shadow:0 0 5px red;
	-webkit-box-shadow:0 0 5px red;
	box-shadow:0 0 5px red;
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
	background-color:#f0dddd;
}

a:link {
	-webkit-tap-highlight-color:#FF5E99;
}

button {
	width:auto;
	overflow:visible;
}

.ie7 img {
	-ms-interpolation-mode:bicubic;
}

body,select,input,textarea {
	color:#444;
}

a,a:active,a:visited {
	color:#607890;
}

a:hover {
	color:#036;
}

table tr td {
	border:solid 1px #ddd;
	padding:3px;
}

table thead {
b	ackground:#ccc;
}

.ir {
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background-repeat:no-repeat;
	text-align:left;
	direction:ltr;
}

.hidden {
display:none;
visibility:hidden;
}

.visuallyhidden {
border:0;
clip:rect(0000);
height:1px;
overflow:hidden;
position:absolute;
width:1px;
margin:-1px;
padding:0;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
clip:auto;
height:auto;
overflow:visible;
position:static;
width:auto;
margin:0;
}

.invisible {
	visibility:hidden;
}

.clearfix:before,.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	overflow:hidden;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	zoom:1;
}

h1 {
	font-size:2.5em;
	text-shadow:0 1px 0 #ccc;
}

.sub-menu {
padding:1em;
}

input[type=submit],fieldset a,.sub-menu a {
	margin-right:1em;
	text-decoration:none;
	font-size:12px;
	background:#adc370;
	color:#fff;
	box-shadow:0 1px 0 #fff;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	padding:6px;
}

#editform
{
	min-width:350px;
	position:absolute;
	left:550px;
	border:solid 2px #ccc;
	padding:10px;
	top:167px;
}

#editform fieldset div
{
	padding:5px;
}

#editform fieldset div input,#editform fieldset div select
{
	float:right;
}


input[type=submit]:hover,fieldset a:hover,.sub-menu a:hover {
	cursor:pointer;
	background:#adc370;
}

#login_form {
	width:300px;
	margin:150px auto 0;
}

#login_form input {
	clear:both;
	display:block;
	float:left;
}

#wrapper {
	width:950px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#main {
	min-height:400px;
	float:left;
	width:100%;
}

#main fieldset{
	width:400px;
}

#header-cap {
	background-color:#2D2D2D;
	width:100%;
	height:30px;
	font: 13px/27px Arial,sans-serif;
}

#header-cap a{
	color:#ccc;
	padding-left:10px;
}

#signInLink {
	padding-top:2px;
	float:right;
	color:#ccc;
	padding-right:5px;
}

#welcometext {
color:#ccc;
float:right;
padding-right:5px;
}

header {
height:90px;
}

#logo {
background:url(../images/logo.png);
width:268px;
height:59px;
float:left;
display:inline;
text-indent:-99999px;
}

footer {
height:120px;
border-top:solid 1px #ccc;
clear:both;
width:100%;
margin:0 auto;
padding:25px 0 50px;
}

#welcome-overview {
clear:both;
float:left;
width:100%;
margin:25px auto;
}

#welcome-overview div {
display:inline;
float:left;
clear:none;
width:250px;
padding:0 25px;
}

.window {
width:940px;
height:280px;
position:relative;
overflow:hidden;
border:5px solid #e3e3e3;
margin:0 auto;
}

.image_reel {
position:absolute;
top:0;
left:0;
}

.image_reel img {
float:left;
display:inline;
}

.paging {
width:940px;
margin:18px auto 22px;
}

.paging a {
float:left;
display:inline;
background:url(../images/bullets.png) 0 0;
text-indent:-9999px;
padding:5px 11px;
}

.paging a.active {
background-position:0 22px;
}

.bullet1 {
margin:0 0 0 9px;
}

footer nav {
font-size:13px;
}

footer a {
float:left;
display:inline;
color:#ffbca4;
-webkit-transition:all .1s linear;
-moz-transition:all .1s linear;
-o-transition:all .1s linear;
transition:all .1s linear;
margin:-6px 0 0 20px;
padding:5px 10px;
}

footer a:hover {
color:#fff;
background:#e35e35;
padding:10px;
}

footer a:active {
color:#fff;
background:#454545;
}

footer p {
float:right;
display:inline;
color:#454545;
font-size:11px;
line-height:1.5;
text-align:left;
}

.topNav {
	margin-top:15px;
	float:right;


}

.topNav ul {
list-style:none;
}

.topNav ul li {
display:inline;
padding:5px;
}

.signup_table {
border:solid 5px #bbb;
font-size:12px;
margin-bottom:40px;
}

.signup_table th,.signup_table td {
padding:7px;
}

.signup_table .pro,.signup_table .medium,.signup_table .mini {
margin:3px;
}

.signup_table .pro {
color:#316d09;
}

.signup_table .medium {
color:#7ca734;
}

.signup_table .mini {
color:#9fc21e;
}

.signup_table .right {
border-left:solid 1px #bbb;
font-weight:700;
}

.signup_table tr.odd {
background:#f3f3f3;
}

.signup_table .price {
font-size:20px;
}

.signup_table sup {
font-weight:400;
font-size:13px;
}

.signup_table .left {
width:28%;
}

.subtitle_left {
text-align:right;
}

a.signup_button2 {
background:url(../images/button_signup.gif) left top;
height:37px;
width:126px;
float:left;
color:#fff;
font-weight:700;
font-size:14px;
text-decoration:none;
text-align:center;
line-height:38px;
margin:4px 0 4px 2px;
}

.signup_button2:hover {
background:url(../images/button_signup.gif) left bottom;
height:37px;
width:126px;
float:left;
color:#fff;
}

.free_30_days {
background:url(../images/free30days.png) no-repeat left center;
height:90px;
color:#e98924;
font-size:18px;
margin-bottom:20px;
padding:22px 0 0 125px;
}

.browsers {
text-align:center;
margin-top:78px;
font-size:10px;
color:#505050;
}

.button-list div {
padding-top:20px;
}

#signInForm {
	width:250px;
	height:150px;
	border:solid;
	position:absolute;
	background-color:#ccc;
	left:690px;
	top:23px;
	z-index:1000;
}

#signInForm fieldset {
float:left;
padding:10px;
}

#signInForm fieldset input {
float:left;
}

#signInForm fieldset li {
list-style:none;
line-height:1.6;
margin:0;
padding:5px;
}

#signInForm fieldset label {
display:block;
width:auto;
}

#users ul {
list-style:none;
margin-bottom:25px;
}

#users ul li {
border:solid 1px #9fba54;
max-width:500px;
margin-top:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-box-shadow:3px 3px 3px #ccc;
background:#d6eeb9;
padding:1em;
}

#users ul li div {
margin-top:2px;
}

#users ul li .full-name {
color:#343118;
font-weight:700;
}

#salesReport {
width:300px;
min-width:300px;
}

#salesReport th {
font-size:14px;
font-weight:400;
border-bottom:2px solid #6678B1;
padding:10px 8px;
}

#salesReport td {
border-bottom:1px solid #6678B1;
padding:9px 8px 0;
}

.qty {
text-align:center;
}

.description {
width:100%;
clear:both;
margin-top:25px;
}

strong,th,h1,h2,h3,h4,h5,h6,.signup_table h2,.free_30_days span {
font-weight:700;
}

input[type="radio"],.ie6 input {
vertical-align:text-bottom;
}

::-moz-selection,::selection {
background:#FF5E99;
color:#fff;
text-shadow:none;
}

header,footer,#container {
float:left;
width:100%;

}

.signup_table th,.signup_table .row .last {
border-bottom:solid 1px #bbb;
}

@media print{
* {
background:transparent!important;
color:#000!important;
text-shadow:none!important;
filter:none!important;
-ms-filter:none!important;
}

a,a:visited {
color:#444!important;
text-decoration:underline;
}

a[href]:after {
content:" (" attr(href) ")";
}

abbr[title]:after {
content:" (" attr(title) ")";
}

.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
content:"";
}

pre,blockquote {
border:1px solid #999;
page-break-inside:avoid;
}

thead {
display:table-header-group;
}

tr,img {
page-break-inside:avoid;
}

p,h2,h3 {
orphans:3;
widows:3;
}

h2,h3 {
page-break-after:avoid;
}
}

h2{
	font-size:2em;
}

h3{
	font-size:1.5em;
}

.doc-h2{
	margin-top:20px;
}

.doc-h3{
	margin-top:10px;
}
.doc-table {
	width:90%;
	
}
.doc-table tr td{
	padding:3px;
	
}
.doc-table thead{
	background-color:#ccc;
	
}
.left-button{
	float:left;
}

.right-button{
float:right;
}

#tblMocks tr td a{
	padding-left:5px;
}

.log{
	width:95%;
}

.log tr td{
	padding:5px;	
}

#holder{
	border:solid 1px #ccc;
	width:500px;
	height:300px;
	position:absolute;
	left:420px;
	top:160px;
	padding:10px;
}
.form-row a{
	
}
.form-row{
	display:block;
	clear:both;
	padding-bottom:10px;
	padding-top:10px;
}

.form-row label, .form-row input{
	float:left;
	
}

.form-row input{
	float:right;
}

#editMox fieldset{
	width:300px;
	margin-bottom:10px;	
}

#mock-operations{
	clear:both;
	padding-bottom:5px;
	margin-bottom:10px;
	height:5px;
	width:500px;
}

legend{
	display:none;
}

#dashboard{
	padding-left:20px;
}


/*growl*/
#growlcontainer{
  position: fixed;
  right: 200px;
  top: 70px;
  z-index: 1000;
  font-size: 12px;
  width: 300px;
}
.growlstatus{
  position: relative;
  background-color: #000; /*fallback for ie*/
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px #000 solid;
  border: 3px rgba(0, 0, 0, 0.8) solid;
  padding: 15px;
  color: #fff;
  margin-bottom: 5px;
  
  -moz-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.growlstatus .growltitle{
  font-weight: bold;
  margin-bottom: 5px;
}
.growlstatusclose{
  position: absolute;
  top: -15px;
  right: -15px;
  width:30px;
  height:30px;
  cursor: pointer;
  display: none;
  background: transparent url(images/growlclose.png) no-repeat;
}
.growlstatus:hover{
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px #fff solid;
}
.growlstatus:hover .growlstatusclose{
  display: block;
}
.growlwithicon{
  padding-left: 50px;
  background-position: 5px 10px;
  background-repeat:no-repeat;
}

/****** growl icons ******* 
--------------------------*/
.growlicon_heart{
  background-image: url(images/icons/heart.png);
}
.growlicon_star{
  background-image: url(images/icons/star.png);
}
.growlicon_clouds{
  background-image: url(images/icons/clouds.png);
}
.growlicon_parachute{
  background-image: url(images/icons/parachute.png);
}
