<div class="container-fluid">
  <div class="row-fluid">
	<fieldset>
		<legend>Add Mock</legend>
		<div id="name-control" class="control-group">
			<label for="mockName">Name:</label>
		 	<input type="text" id="mockName" name="mockName" required/>
	 	</div>
		<div id="min-control" class="control-group">
			<label for="mockMin">Min Rows:</label>
			<input type="number" id="mockMin" name="mockMin" required/>
	 	</div>
		<div id="max-control" class="control-group">
			<label for="mockMax">Max Rows:</label>
			<input type="number" id="mockMax" name="mockMax" required/>
		</div>
		 <br/>
		 <button type="button" id="submitMox"  class="btn btn-primary">Submit</button>
		 <button id="cancel_btn" type="button"  class="btn">Cancel</button>
	 </fieldset>
	</div>
</div>

