<div class="container-fluid">
  <div class="row-fluid">
	<fieldset>
		<legend>Add Mock Field</legend>
		<label for="mockFieldName">Name:</label>
		 <input type="text" id="mockFieldName" name="mockFieldName"/>
		
		 <label for="options">Options:</label>
		 <textarea id="options" name="options"></textarea>
		 <label for="predefinedSampleData">Predefined Data:</label>
		 <select id="predefinedSampleData">
		   <option value="1" selected="selected">Date</option> 
		   <option value="2">First Name</option>
		   <option value="3">Last Name</option>
		 </select>
		 <label for="sampledata">Sample Data:</label>
		 <textarea id="sampledata" name="sampledata"></textarea>
		 <br/>
		 <button type="button" id="submitMoxField"  class="btn btn-primary">Submit</button>
	 </fieldset>
	</div>
</div>
