<h1>Documentation</h1>


<div class="row-fluid">
  <div class="span12">
    <h3>Options</h3>
	<p>
	You can add options to the field to manipulate the data. 
	</p>
    <div class="row-fluid">
      <div class="span12">
		  <table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Predefined Types</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>length</td>
					<td>number</td>
					<td>Constrains the field length, as string.</td>
					<td>{"length":"15"}</td>
				</tr>
				<tr>
					<td>prepend</td>
					<td>All</td>
					<td>Prepends the value to the random data.</td>
					<td>{"prepend":"To the front of the string-"}</td>
				</tr>
				<tr>
					<td>append</td>
					<td>All</td>
					<td>Appends the value to the random data.</td>
					<td>{"append":"-to the end of string"}</td>
				</tr>
				<tr>
					<td>format</td>
					<td>date</td>
					<td>formats the date string.</td>
					<td>{"format":"mm/dd/yyy"}</td>
				</tr>
			</tbody>
		</table>
	</div>
   
  </div>
</div>
<h2>Downloads</h2>
<div class="row-fluid">
		<div class="span12">
		
			<table class="table">
				<tbody>
					<tr>
						<td>
							<a href="https://github.com/kgaddy/MockSVC_ExampleSales"><i class="icon-download-alt"></i>HTML/JSONP</a>
						</td>
						<td>
							Simple app that consumes the mock sales data example. Does not need to run within a web server. 
						</td>
					</tr>
				</tbody>
			</table>
						
		
		</div>
	</div>
