<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Forgot Password</h1>
  </div>
</header>
<div class="row-fluid">
	<div class="span12" id="invalid-email" style="padding-top:20px;display:none">
		<div class="container">
			<div class="alert alert-error">
				<ul id="error-list">
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="container">
		<fieldset>
			<legend></legend>
			<div class="control-group">
				<label class="control-label" for="email_field" >Email</label>
				<div class="controls">
					<input autofocus="autofocus" class="required" id="email_field" name="email" type="text" value="">
				</div>
  				<div class="controls">    			
      		  		<input name="commit" type="submit" value="Submit" class="btn-primary">
				</div>
			</div>
		</fieldset>
	</div>
	</div>
</div>