<div class="row-fluid">
<form accept-charset="UTF-8" action="/sessions/forgot_password" id="forgot_password_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="/g81Xg/oyMy25LSiY8c3WmyPEx+3LNtov9VCSm8jF5g="></div>
    <div class="auth-form-header">
      <h1>Forgot password</h1>
    </div>
    <div class="auth-form-body">
      
      <label for="email_field">Email</label>
      <input autofocus="autofocus" class="input-block" id="email_field" name="email" type="text" value="">
      <input name="commit" type="submit" value="Submit" class="btn">
    </div>
</form>
</div>