<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Login</h1>
  </div>
</header>
<div class="row-fluid">
	<div class="span12" id="invalid-login" style="padding-top:20px;display:none">
		<div class="container">
			<div class="alert alert-error">
				<ul id="error-list">
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="container">
				<fieldset>
					<legend></legend>
					<div id="email-control" class="control-group">
						<label for="email-input" class="control-label">Email:</label>
						<div class="controls">
							<input type="text" id="email-input" required class="email" name="email"/>	
						</div>
					</div>
					<div id="pwd-control" class="control-group">
							<label for="password"  class="control-label">Password: <a href="#forgot_password">(forgot password)</a></label>
							<div class="controls">
								<input type="password" id="password" required class="password" name="password"/>
							</div>
					</div>
					<div class="control-group">
			    		<div class="controls">
							<button type="submit" id="login_btn" class="btn btn-primary">Sign in</button>
							<a href="#signup" id="SignUp_btn" class="btn">Register</a>
						</div>
					</div>
				</fieldset>
			
		</div>
	</div>
</div>