<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
		<ul class="nav nav-pills nav-stacked">
		  <li class="nav-header">Reports</li>
		  <li class="active"><a id="svcLog" href="">Service Log</a></li>
		
		</ul>
    </div>
    <div id="reports-sec" class="span10">
    <table id="servicelog" class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>User Agent</th>
				<th>Name</th>
				<th>Mox</th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
    </div>
  </div>
</div>