<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10 offset2">
			<h1>Signup</h1>
			<div class="row-fluid">
				<div class="span12" id="invalid-signup" style="padding-top:20px;display:none">
					<div class="container">
						<div class="alert alert-error">
							<ul id="error-list">
							</ul>

						</div>
					</div>
				</div>
			</div>
			<form>
				<fieldset>
					<div id="firstname-control" class="control-group">
						<label for="firstname">First Name:</label>
						<input type="text" id="firstname" placeholder="First Name">
					</div>
					<div id="lastname-control" class="control-group">
						<label for="lastname">Last Name:</label>
						<input id="lastname" type="text" placeholder="Last Name">
					</div>
					<div id="email-control" class="control-group">
						<label for="email">Email:</label>
						<input id="email" type="email" placeholder="">
					</div>
					<div id="username-control" style="display:none" class="control-group">
						<label for="username">User Name:</label>
						<input id="username" type="text" placeholder="">
					</div>
					<div id="pwd-control" class="control-group">
						<label for="pwd">Password:</label>
						<input id="pwd" type="password">
					</div>
					<div id="cpwd-control" class="control-group">
						<label for="cpwd">Confirm Password:</label>
						<input id="cpwd" type="password">
					</div>
					<span class="help-block"></span>

					<button type="submit" id="sign-up" class="btn btn-primary">Submit</button>
					<button type="button" id="cancel-sign-up" class="btn">Cancel</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>