


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset2">
		<h1>Signup</h1>
		<form>
  		  <fieldset>
    		  <label for="firstname">First Name:</label>
    		  <input type="text" id="firstname"placeholder="First Name">
	
    		  <label for="lastname">Last Name:</label>
    		  <input id="lastname" type="text" placeholder="Last Name">
	
    		  <label for="email">Email:</label>
    		  <input id="email" type="email" placeholder="">	
	
    		  <label for="username">User Name:</label>
    		  <input id="username" type="text" placeholder="">	
	
	
    		  <label for="pwd">Password:</label>
    		  <input id="pwd" type="password">
	
    		  <label for="cpwd">Confirm Password:</label>
    		  <input id="cpwd" type="password">	
	
    		  <span class="help-block"></span>
    
    		  <button type="submit" class="btn btn-primary">Submit</button>
  			</fieldset>
		</form>
	</div>
</div>
</div>