		
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Getting started</h1>
    <p class="lead">Overview of the project, it's contents, and how to get started with a simple template.</p>
  </div>
</header>

<div class="row-fluid">
	<div class="span12">
		<div class="container">
		<h2>Why?</h2>
		<p>Creating mock services saves time and lets the UI developer get started without waiting on backedn APIs.</p>
		<p>Take the following sales data example. You get a request for a feature that displays sales data with a pie chart. </p>
		<div class="container">
			<h2>
				Sales Data Example
			</h2>
		</div>
		<div class="span12">
			<div id="salestable" class="span6"></div>
			<div id="holder" class="span6" style="height:300px"></div>
		</div>
		
		<div class="span12">
			<p>You want to prototype the feature to make sure everyone is on the same page.
			
			You have some choices: 
			<ul>
				<li>1. You can hardcode the data on the page. This is fine but requires time and your code is useless.</li>
				<li>2. You can mock your services, but this can be time consuming as well.</li>
				<li>3. You can use MockSVC to mock everything you need in just minutes,</li>
			</ul>
		</p>
	</div>
	

</div>
